openapi: 3.1.0
info:
  title: ACTIVE Network Activity Search API v2 Activities Camping API
  version: '2.0'
  description: The ACTIVE Network Activity Search API v2 returns publicly searchable activities and events (races, camps, classes, tournaments, and other registerable assets) from ACTIVE.com and ACTIVEkids.com. All endpoints are read-only, return public data, and are authenticated with an API key passed as the api_key query parameter. Generated by the API Evangelist enrichment pipeline from ACTIVE Network's published developer documentation; not an official ACTIVE Network artifact.
  contact:
    name: ACTIVE Network Developer Support
    url: https://developer.active.com/help_center
  termsOfService: https://www.activenetwork.com/information/products-services-terms
servers:
- url: http://api.amp.active.com
  description: ACTIVE Network AMP production API host (public read-only data)
security:
- ApiKeyQuery: []
tags:
- name: Camping
paths:
  /camping/campgrounds:
    get:
      operationId: searchCampgrounds
      summary: Search campgrounds
      description: Search campgrounds by state, park name, site type, amenities, hookup requirements, and landmark radius. Returns an XML list of facilities with amenity indicators.
      tags:
      - Camping
      parameters:
      - name: api_key
        in: query
        required: true
        description: API key obtained via developer registration.
        schema:
          type: string
      - name: pstate
        in: query
        required: false
        description: 2-character US state or Canadian province code.
        schema:
          type: string
      - name: pname
        in: query
        required: false
        description: Park name search string (for example "ASPEN").
        schema:
          type: string
      - name: siteType
        in: query
        required: false
        description: Accommodation type code (2001 RV, 10001 Cabin, 2003 Tent, 2002 Trailer, 9002 Group, 9001 Day Use, 3001 Horse, 2004 Boat).
        schema:
          type: integer
      - name: amenity
        in: query
        required: false
        description: Recreation activity code (4001 Biking, 4004 Fishing, 4005 Golf, 4006 Hiking, 4007 Horseback, 4008 Hunting, 4013 Winter).
        schema:
          type: integer
      - name: eqplen
        in: query
        required: false
        description: RV length in feet.
        schema:
          type: integer
      - name: maxpeople
        in: query
        required: false
        description: Occupancy limit.
        schema:
          type: integer
      - name: hookup
        in: query
        required: false
        description: Electric hookup code (3002 15A+, 3003 20A+, 3004 30A+, 3005 50A+).
        schema:
          type: integer
      - name: water
        in: query
        required: false
        description: Water hookup code (3006 or 3007).
        schema:
          type: integer
      - name: sewer
        in: query
        required: false
        description: Sewer hookup code (3007).
        schema:
          type: integer
      - name: pull
        in: query
        required: false
        description: Pull-through driveway code (3008).
        schema:
          type: integer
      - name: pets
        in: query
        required: false
        description: Pet-friendly code (3010).
        schema:
          type: integer
      - name: waterfront
        in: query
        required: false
        description: Waterfront sites code (3011).
        schema:
          type: integer
      - name: landmarkLat
        in: query
        required: false
        description: Latitude for a 200-mile radius geographic search.
        schema:
          type: number
      - name: landmarkLong
        in: query
        required: false
        description: Longitude for a 200-mile radius geographic search.
        schema:
          type: number
      - name: landmarkName
        in: query
        required: false
        description: Set to "true" when providing landmark coordinates.
        schema:
          type: string
      responses:
        '200':
          description: An XML list of matching campground facilities.
          content:
            application/xml:
              schema:
                type: object
        '403':
          description: Request rejected for exceeding the queries-per-second limit or the daily quota, or for an invalid/inactive API key.
components:
  securitySchemes:
    ApiKeyQuery:
      type: apiKey
      in: query
      name: api_key
      description: API key passed as the api_key query parameter. Keys are issued via developer registration and are read-only.
