# generated: '2026-07-17'
# method: generated
# source: https://developer.active.com/docs/read/v2_Activity_API_Search
openapi: 3.1.0
info:
  title: ACTIVE Network Activity Search API v2
  version: '2.0'
  description: >-
    The ACTIVE Network Activity Search API v2 returns publicly searchable
    activities and events (races, camps, classes, tournaments, and other
    registerable assets) from ACTIVE.com and ACTIVEkids.com. All endpoints are
    read-only, return public data, and are authenticated with an API key passed
    as the api_key query parameter. Generated by the API Evangelist enrichment
    pipeline from ACTIVE Network's published developer documentation; not an
    official ACTIVE Network artifact.
  contact:
    name: ACTIVE Network Developer Support
    url: https://developer.active.com/help_center
  termsOfService: https://www.activenetwork.com/information/products-services-terms
servers:
  - url: http://api.amp.active.com
    description: ACTIVE Network AMP production API host (public read-only data)
security:
  - ApiKeyQuery: []
paths:
  /v2/search:
    get:
      operationId: searchActivities
      summary: Search activities and events
      description: >-
        Search ACTIVE Network's public catalog of activities and events by
        keyword, location, category, topic, and date range. Returns a paginated
        JSON list of assets with facets and suggestions.
      tags:
        - Activities
      parameters:
        - name: api_key
          in: query
          required: true
          description: Search API key obtained via developer registration.
          schema: { type: string }
        - name: query
          in: query
          required: false
          description: Free-text search term (for example "running").
          schema: { type: string }
        - name: near
          in: query
          required: false
          description: A place name that can be geocoded (for example "San Diego,CA,US").
          schema: { type: string }
        - name: lat_lon
          in: query
          required: false
          description: Latitude and longitude separated by a comma.
          schema: { type: string }
        - name: bbox
          in: query
          required: false
          description: Bounding box with NW and SE corners separated by a semicolon.
          schema: { type: string }
        - name: radius
          in: query
          required: false
          description: Search radius in miles.
          schema: { type: integer }
        - name: city
          in: query
          required: false
          schema: { type: string }
        - name: state
          in: query
          required: false
          schema: { type: string }
        - name: zip
          in: query
          required: false
          schema: { type: string }
        - name: country
          in: query
          required: false
          schema: { type: string }
        - name: category
          in: query
          required: false
          description: Filter by category (for example "event", "articles").
          schema: { type: string }
        - name: topic
          in: query
          required: false
          description: Filter by topic name (for example "running").
          schema: { type: string }
        - name: start_date
          in: query
          required: false
          description: Date range filter (format yyyy-mm-dd..yyyy-mm-dd).
          schema: { type: string }
        - name: end_date
          in: query
          required: false
          schema: { type: string }
        - name: current_page
          in: query
          required: false
          description: Page number for pagination (defaults to 1).
          schema: { type: integer, default: 1 }
        - name: per_page
          in: query
          required: false
          description: Results per page (defaults to 10).
          schema: { type: integer, default: 10 }
        - name: sort
          in: query
          required: false
          description: Sort order (date_asc, date_desc, or distance).
          schema: { type: string, enum: [date_asc, date_desc, distance] }
        - name: kids
          in: query
          required: false
          description: Return assets from ACTIVEkids.com.
          schema: { type: string }
        - name: cb
          in: query
          required: false
          description: JSONP callback parameter.
          schema: { type: string }
        - name: exclude_children
          in: query
          required: false
          description: Remove children assets ("true" or "false").
          schema: { type: string }
        - name: registerable_only
          in: query
          required: false
          schema: { type: boolean }
        - name: show_distance
          in: query
          required: false
          schema: { type: string }
        - name: facets
          in: query
          required: false
          description: Comma-delimited facet counts to return.
          schema: { type: string }
        - name: attributes
          in: query
          required: false
          schema: { type: string }
        - name: tags
          in: query
          required: false
          schema: { type: string }
      responses:
        '200':
          description: A paginated set of matching activities.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchResponse'
        '403':
          description: >-
            Request rejected for exceeding the queries-per-second limit or the
            daily quota, or for an invalid/inactive API key.
components:
  securitySchemes:
    ApiKeyQuery:
      type: apiKey
      in: query
      name: api_key
      description: >-
        API key passed as the api_key query parameter. Keys are issued via
        developer registration and are read-only.
  schemas:
    SearchResponse:
      type: object
      properties:
        total_results: { type: integer }
        items_per_page: { type: integer }
        start_index: { type: integer }
        results:
          type: array
          items:
            $ref: '#/components/schemas/Asset'
        facets:
          type: array
          items: { type: object }
        suggestions:
          type: array
          items: { type: object }
    Asset:
      type: object
      properties:
        assetName: { type: string }
        activityStartDate: { type: string }
        place: { type: object }
        assetPrices:
          type: array
          items: { type: object }
